# ignore working temp files created by python scripts
*.jira.csv
*.scope.yaml
*.xlsx
.env
*.log
logs/
*.changes.txt
*.json
*.tfstate
*.tfstate.backup
*.hcl
 
# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VSCode settings (if using VSCode)
.vscode/

# MacOS and system files
.DS_Store
Thumbs.db
